*{
padding:0;
margin:0;
color:white;
}
body {
  background-color: rgb(43,43,72) ;
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.passwordBox{
  width:35vw;

  background-color: blueviolet;
  padding: 20px;
}
.passwordBoxIn{
display:flex;
justify-content: space-between;
height: 1.8rem;
width:35vw;
}
.passwordBoxIn input {
width:25vw;
color:black;
}
.passwordBoxIn button{
width:9vw;
color:black;
}

.passwordLength{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.passwordLength input{
width: 10%;
color:black;
}
.generatePass{
width:100%;
height:1.7rem;
background-color: blue;
border:none;
cursor: pointer;
}